:root{
    font-family: 'Rosario', sans-serif;
    --color-black: black;
    --color-menu-list: #FFFCFC;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    margin: 0;
    
}

/*header*/
header{
    height: 130px;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
}

.header{
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    height: 130px;
    display: flex;
    align-items: center;
    margin: 0;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 900px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: var(--color-menu-list);
    margin-right: 40px;
}

.link{
    text-decoration: none;
    color: var(--color-menu-list);
}

/*section gallery*/

.block_1{
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    overflow: hidden;
}

.middle_img{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.gallery_img{
    box-sizing: border-box;
    padding: 21px 9px;
}

.left_one{
    transform: translateX(-100vw);
    animation: left-one 2s linear 1 forwards;
}

@keyframes left-one {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

.left_two{
    transform: translateX(-100vw);
    animation: left-center 1s linear 1 forwards;
}

@keyframes left-center {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

.right_two{
    transform: translateX(100vw);
    animation: right-center 1s linear 1 forwards;
}

@keyframes right-center {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.right_one{
    transform: translateX(100vw);
    animation: right-one 2s linear 1 forwards;
}

@keyframes right-one {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

/*Section service*/

.block_2{
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    padding-top: 70px;
    box-sizing: border-box;
}

.service_left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.service_item{
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 50%;
    position: absolute;
}

.one{
    top: 0;
    left: 0;
    animation: c1 10s linear infinite;
}
@keyframes c1{
    from{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    75%{
        top: 50%;
        left: 0;
    }
    to{
        top: 0;
        left: 0;
    }
}

.two{
    top: 0;
    left: 50%;
    animation: c2 10s linear infinite;
}
@keyframes c2 {
    from {
        top: 0;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 0;
        left: 0;
    }

    to {
        top: 0;
        left: 50%;
    }
}

.three{
    top: 50%;
    left: 0;
    animation: c3 10s linear infinite;
}
@keyframes c3 {
    from {
        top: 50%;
        left: 0;
    }

    25% {
        top: 0;
        left: 0;
    }

    50% {
        top: 0;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 50%;
    }

    to {
        top: 50%;
        left: 0;
    }
}

.four{
    top: 50%;
    left: 50%;
    animation: c4 10s linear infinite;
}
@keyframes c4 {
    from {
        top: 50%;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 0;
    }

    50% {
        top: 0;
        left: 0;
    }

    75% {
        top: 0;
        left: 50%;
    }

    to {
        top: 50%;
        left: 50%;
    }
}

.service_title{
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-black);
    text-align: center;
    
}
.service_right{
    width: 50%;
}

/*section team*/

.block_3{
    flex-direction: column;
}

.team_title{
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    color: var(--color-black);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.team{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    transition: all 800ms;
}

.team:hover .card{
    filter: brightness(.5);
}

.team  .card:hover{
    filter: none;
}

.card{
    position: relative;
    height: 677px;
}

.name{
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 40px 40px;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team > div:hover .name{
    height: 154px;
}

/*reviews section*/

.block_4{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 150px;
}

.review_title{
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.form{
    background: #E5E5E5;
    padding: 37px 30px;
    box-sizing: border-box;
}

.form div{
    display: flex;
    justify-content: space-between;
}

.message{
    margin-top: 45px;
    width: 100%;
    resize: none;

}
.form input , textarea{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 5px;
}

.input_name , .input_email{
    width: 35%;
}

/*contacts section*/

.contacts_block{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 100px;
}

.contacts , .schedule , .media{
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-black);
    text-align: center;
}

.contacts span{
    font-style: normal;
}

.contacts a{
    color: var(--color-black);
    font-style: italic;
}

.media img{
    padding-right: 20px;
}

.media  a{
    color: var(--color-black);
    font-style: italic;
}

.media_items{
    text-align: left;
}
.schedule :first-child{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}

.media :first-child{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

